<div id="carouselBlk">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            @{ var index = 0; }
            @foreach (var slideShow in Model)
            {
                <div class="item @(index == 0 ? "active" : "")">
                    <div class="container">
                        <a href="#">
                            <img style="width:100%" src="~/slideshows/@slideShow.Name"
                                 alt="special offers" />
                        </a>
                        <div class="carousel-caption">
                            <h4>@slideShow.Title</h4>
                            <p>@slideShow.Description</p>
                        </div>
                    </div>
                </div>
                index++;
            }
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
