
@{
    ViewData["Title"] = "Customer Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<ul class="breadcrumb">
   <li><a asp-controller="home" asp-action="index">Home</a> <span class="divider">/</span></li>
   <li class="active">AccessDenied</li>
</ul>
    <h3>AccessDenied</h3>

