<a id="myCart" asp-controller="cart" asp-action="index">
    <img src="~/user/themes/images/ico-cart.png" alt="cart">@ViewBag.countItems Items in your cart  
    <span class="badge badge-warning pull-right">VND @ViewBag.Total
                </span>
</a>