<span class="btn btn-mini">VND @ViewBag.Total</span>
<a asp-controller="cart" asp-action="index">
    <span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ @ViewBag.countItems ] Itemes in your cart 
        </span> 
</a>
